body {
  background-image: url('mrk\ i.jpeg'); /* upload one of your cake pics with this name */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
button
{
background-color:powderblue;
height:100px;
width:200px;
border-radius:40px;
margin-left:100px;
margin-top:50px;
border-color:pink;
}