body
{
background-color:powderblue;
}
.container
{
background-color:rgba(100,100,100,0.4);
height:200px;
width:100%;
border-radius:10px;
text-align:center;
}
p
{
color:pink;
margin-top:20px;
font-size:50px;
}
#section2
{
background-color:aqua;
width:50%;
position:right;
height:450px;
border-radius:10px;
margin-top:20px;
}

img
{
align:left;
height:70px;
}
button
{
background-color:powderblue;
border-radius:20px;
height:40px;
width:100px;
margin-left:50px;
}
#section1
{
background-color:rgba(255,192,203,0.6);
height:430px;
width:75%;
margin-right:0px;
border-radius:5px;
margin-top:20px;
}
p3
{
font-size:40px;
}

